@import "tailwindcss";


body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.container {
  text-align: center;
  margin-top: 50px;
}

.my-button {
  background-color: royalblue;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  cursor: pointer;
}

.my-button:hover {
  background-color: darkblue;
}
